body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f7f7f7;
}

.page-container {
    padding: 0;
    margin: 0;
}
.sidebar {
    margin: 0;
    padding: 0;
    min-width: 330px;
    max-width: 330px;
}

.w50 {
    width: 50px;
}